<?xml version="1.0" encoding="UTF-8"?>
<response>
    {% for e in entries  %}
        <entry>
            <id>{{ e.id }}</id>
            <title>{{ e.title }}</title>
            <content>{{ e.content }}</content>
            <category>{{ e.category }}</category>
            {% for c in e.comments %}
                <comment>
                    <id>{{ c.id }}</id>
                    <author>{{ c.author }}</author>
                    <content>{{ c.content }}</content>
                </comment>
            {% endfor %}
        </entry>
    {% endfor %}
</response>
