<?xml version="1.0" encoding="UTF-8"?>
<response>
    {%  if errors %}
        <errors>
            <error>{{ error_msj }}</error>
        </errors>
    {% else %}
        <numbers>
            {% for n in numbers %}
                <number>{{n}}</number>
            {% endfor %}
        </numbers>
    {%  endif %}
</response>
